<mat-toolbar class="example-header">
  <mat-toolbar-row class="wrapperHeader"
    ><h1>{{ app_name }}</h1></mat-toolbar-row
  >
  <mat-toolbar-row class="panel-info">
    <div class="row">
      <div class="col-sm-6" style="color: #005a58;">
        <span>{{ today }}</span>
      </div>

      <div class="col-sm-6 text-right" style="color: #005a58;">
        <span class="mr-2" aria-hidden="false" aria-label="Example heart icon">
          <i class="fa fa-user mr-2" aria-hidden="true"></i>
          <strong>User&nbsp;:&nbsp;</strong>{{ sessionService.userViewModel.FirstName }}&nbsp;{{ sessionService.userViewModel.LastName }}
        </span>

        <span class="mr-2" aria-hidden="false" aria-label="Example delete icon">
          <a [routerLink]="['/select']" style="cursor: pointer; color: #005a58;">
            <i class="fa fa-building mr-2" aria-hidden="true"></i>
            <strong>Organize&nbsp;:&nbsp;</strong>{{ sessionService.userViewModel.OrganizeName }}
          </a>
        </span>

        <span class="mr-2" aria-hidden="false" aria-label="Example delete icon">
          <i class="fa fa-building mr-2" aria-hidden="true"></i>
          <strong>Role&nbsp;:&nbsp;</strong>{{ sessionService.userViewModel.RoleCode }}
        </span>

        <span class="mr-2" aria-hidden="false" aria-label="Example delete icon">
          <span style="color: red; cursor: pointer;" (click)="logout()"><i class="fa fa-sign-out mr-2" aria-hidden="true"></i>Logout</span>
        </span>

        <span class="mr-2" aria-hidden="false" aria-label="Example delete icon">
          <i class="fa fa-question-circle" aria-hidden="true" style="color: #807e7e; font-weight: normal; font-size: 1.3rem;"></i>
        </span>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<!-- <mat-sidenav-container class="example-container" (click)="docloseAlert($event, false)"> -->
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened class="example-sidenav" [fixedInViewport]="true" [fixedTopGap]="108" [fixedBottomGap]="40">
    <app-treenode></app-treenode>
  </mat-sidenav>

  <mat-sidenav-content>
    <br />
    <span (click)="toggleClick(); sidenav.toggle()" class="button-open-left-menu">
      <i [ngClass]="IS_OPEN == true ? 'fa fa-arrow-left' : 'fa fa-arrow-right'" style="color: #005a58" aria-hidden="true"></i>
    </span>

    <div class="container-fluid">
      <nav aria-label="breadcrumb" class="mt-3" *ngIf="sessionService.SHOW_BREADCRUMB == true">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/home" style="color:#005a58;"><strong>Home</strong> </a>
          </li>
          <li class="breadcrumb-item">
            <strong style="color:#005a58;">{{ sessionService.MAIN_PROGRAM_NAME }}</strong>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            <strong style="color:#005a58;">{{ sessionService.PROGRAM_CODE }}&nbsp;:&nbsp;{{ sessionService.PROGRAM_NAME }}</strong>
          </li>
        </ol>
      </nav>

      <div class="row">
        <div class="col-sm-12">
          <ngb-alert [type]="alertService.messageAlert.type" *ngIf="alertService.messageAlert.display" (close)="closeAlert(false)" class="p-3 text-wrap"
            ><strong>{{ alertService.messageAlert.subject }}</strong
            >&nbsp;&nbsp;<span style="white-space: pre;">{{ alertService.messageAlert.messages }}</span></ngb-alert
          >
        </div>
      </div>

      <router-outlet></router-outlet>
      <!-- <section class="content">
        <router-outlet></router-outlet>
      </section> -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar class="example-footer">
  <p><i class="fa fa-copyright" aria-hidden="true"></i>&nbsp;{{ app_footer }}&nbsp;{{ version }}</p>
</mat-toolbar>

<app-loading-screen></app-loading-screen>
