.mat-drawer-container {
  background-color: transparent;
  color: #000;
}

.example-container {
  position: absolute;
  top: 110px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.example-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  overflow-x: auto;
  background-color: #f3f3f3;
  border-right: solid 1px #e4e4e4;
}

.example-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.example-footer {
  background-color: #dbdbdb;
  text-align: center;
  position: fixed;
  // width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
}

.example-footer p {
  width: 100%;
  font-size: 12px;
  color: #005a58;
  margin: 1rem 0;
  text-align: center;
}

.wrapperHeader {
  position: fixed;
  background: #fff;
  background-image: url("../../../assets/images/header.jpg");
  background-size: cover;
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 76px;
  border-bottom: 4px solid #005a58;
}

.wrapperHeader h1 {
  text-align: center;
  color: #005a58;
  margin: 0 auto;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 1rem;
}

.panel-info {
  height: auto;
  min-height: unset;
  font-size: 1rem;
  background-color: #e4e4e4;
  margin-top: 76px;
  color: #000;
  display: block;
}

.button-open-left-menu {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 30px;
  border: solid 1px #ccc;
  border-left: none;
  padding: 10px;
  cursor: pointer;
}
