<div class="modal-header">
  <h4 class="modal-title">{{ title }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body"[innerHTML]="message">
  <!-- {{ message }} -->
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-mitsu" (click)="accept()"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;{{ btnOkText }}</button>
  <button type="button" class="btn btn-mitsu-red ml-3" (click)="decline()"><i class="fa fa-times-circle" aria-hidden="true"></i>&nbsp;{{ btnCancelText }}</button>
</div>
