<ngb-accordion #myform="ngbAccordion" activeIds="myForm">
  <ngb-panel id="myForm" class="ngb-panel-title">
    <ng-template ngbPanelTitle> <i [ngClass]="myform.isExpanded('myForm') == true ? 'fa fa-caret-down' : 'fa fa-caret-right'" aria-hidden="true"></i>&nbsp;Add/Edit </ng-template>
    <ng-template ngbPanelContent is-open-at-start="true">
      <form [formGroup]="myForm" class="mb-2">
        <div class="form-group row mb-1">
          <label class="col-sm-12 col-md-12 col-lg-2 col-form-label my_custom_label">
            <span class="text-danger">*</span>
            Title :
          </label>
          <div class="col-sm-12 col-md-12 col-lg-4">
            <input
              type="text"
              class="form-control text-uppercase"
              formControlName="title"
              required
              [ngClass]="{
                'is-invalid': submitted && form['title'].errors
              }"
            />
          </div>
        </div>

        <div class="form-group row mb-1">
          <label class="col-sm-12 col-md-12 col-lg-2 col-form-label my_custom_label">
            <span class="text-danger">*</span>
            Body :
          </label>
          <div class="col-sm-12 col-md-12 col-lg-4">
            <input
              type="text"
              class="form-control"
              formControlName="body"
              required
              [ngClass]="{
                'is-invalid': submitted && form['body'].errors
              }"
            />
          </div>
        </div>
      </form>

      <hr />

      <div class="row form-group text-center">
        <div class="col-md-8">
          <button type="button" class="btn btn-mitsu" (click)="openConfirmationSaveDialog()"><i class="fa fa-save" aria-hidden="true"></i>&nbsp;Save</button>
          <!-- <button
            type="button"
            class="btn btn-mitsu-red ml-3"
            (click)="openConfirmationDeleteDialog()"
            [disabled]="myForm.get('id').value == 0"
          >
            <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Delete
          </button> -->
        </div>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>

<br />

<div class="row">
  <div class="col-sm-6">
    <button type="button" class="btn btn-mitsu" (click)="doBack()"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Back</button>
  </div>

  <div class="col-sm-6 text-right"></div>
</div>
