.mat-toolbar-row,
.mat-toolbar-single-row {
  height: auto;
  background: #fff;
  padding: 0;
}

.wrapperHeader {
  z-index: 3;
  position: fixed;
  background: #fff;
  background-image: url("../../../assets/images/header.jpg");
  background-size: cover;
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 76px;
  min-height: unset;
  border-bottom: 4px solid #005a58;
}

.wrapperHeader h1 {
  text-align: center;
  color: #005a58;
  margin: 0 auto;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 1rem;
}
