<ngb-accordion #myform="ngbAccordion" activeIds="myForm">
  <ngb-panel id="myForm" class="ngb-panel-title">
    <ng-template ngbPanelTitle>
      <i
        [ngClass]="
          myform.isExpanded('myForm') == true
            ? 'fa fa-caret-down'
            : 'fa fa-caret-right'
        "
        aria-hidden="true"
      ></i
      >&nbsp;Search
    </ng-template>
    <ng-template ngbPanelContent is-open-at-start="true">
      <form [formGroup]="myForm">
        <!-- <div class="form-group row">
          <label class="col-sm-12 col-md-12 col-lg-2 col-form-label text-right">Title:</label>
          <div class="col-sm-12 col-md-12 col-lg-4">
            <input type="text" class="form-control" formControlName="title" />
          </div>
        </div> -->
      </form>

      <div class="row">
        <div class="col-sm-12 text-right">
          <button class="btn btn-mitsu" (click)="executeSearch()">
            <i class="fa fa-search" aria-hidden="true"></i>&nbsp;Search
          </button>
          <button class="btn btn-mitsu" (click)="resetSearch()">
            <i class="fa fa-times" aria-hidden="true"></i>&nbsp;Clear
          </button>
        </div>
      </div>
    </ng-template>
  </ngb-panel>
</ngb-accordion>

<br />

<div class="row">
  <div class="col-sm-6">
    <button
      type="button"
      class="btn btn-mitsu"
      (click)="doExport()"
      [disabled]="viewModel.length == 0"
    >
      <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp;Excel
    </button>
  </div>

  <div class="col-sm-6 text-right">
    <a class="btn btn-mitsu" routerLink="/master/IM0001M02">
      <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add</a
    >
    <button
      type="button"
      class="btn btn-mitsu"
      [disabled]="checkedRadio === null"
      (click)="onEdit()"
    >
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Edit
    </button>
  </div>
</div>

<br />

<table class="table table-striped">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Title</th>
      <th>Body</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let value of viewModel; let i = index"
      (click)="checkedRadio = i"
      [ngClass]="{
        'rows-active': i == checkedRadio
      }"
    >
      <td class="text-center">
        <input
          type="radio"
          class="increase_radio_size"
          name="checkedRadio"
          [value]="i"
          [(ngModel)]="checkedRadio"
          [checked]="i == checkedRadio"
        />
      </td>
      <td class="text-nowrap">{{ value.title }}</td>
      <td class="text-nowrap">{{ value.body }}</td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination
    [collectionSize]="requestViewModel.TotalRows"
    [(page)]="requestViewModel.CurrentPageIndex"
    [pageSize]="requestViewModel.PageSize"
    [maxSize]="5"
    [boundaryLinks]="true"
    (pageChange)="executeSearch()"
  ></ngb-pagination>
  <span *ngIf="requestViewModel.TotalRows > 0"
    >Total&nbsp;{{ requestViewModel.TotalRows | number }}&nbsp;Rows</span
  >
</div>
