<section class="container">
  <div class="login-block">
    <div style="max-width: 450px; margin: 0 auto;">
      <h4 class="login-header" style="margin-bottom: 0px">Select</h4>

      <div style="padding:15px 15px 0px; border: solid 1px #ccc;">
        <div class="form-group row mb-2">
          <label class=" col-sm-12 col-md-4 col-form-label text-right">Organization&nbsp;:</label>
          <div class="col-sm-12 col-md-8">
            <ng-select [items]="organizeViewModel" [clearable]="true" bindValue="OrganizeId" bindLabel="OrganizeName" [(ngModel)]="userViewModel.OrganizaId" placeholder="Please Select" class="custom" (change)="onSelectedOrganize($event)"></ng-select>
          </div>
        </div>

        <div class="form-group row mb-3 mt-3">
          <div class="col-12 text-right">
            <button type="button" class="btn btn-mitsu" (click)="goToHome()"><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Select</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
