<section class="container" *ngIf="!SHOW_FORM_ORGANIZE">
  <div class="login-block">
    <div style="max-width: 450px; margin: 0 auto;">
      <h4 class="login-header" style="margin-bottom: 0px">Login</h4>

      <div style="padding:15px 15px 0px; border: solid 1px #ccc;">
        <div class="form-group row mb-2">
          <label for="UserName" class=" col-sm-12 col-md-4 col-form-label text-right">User&nbsp;Name&nbsp;:</label>
          <div class="col-sm-12 col-md-8">
            <input class="form-control" type="text" name="UserName" id="UserName" [(ngModel)]="userViewModel.UserName" placeholder="User name" />
          </div>
        </div>

        <div class="form-group row mb-2">
          <label for="Password" class=" col-sm-12 col-md-4 col-form-label text-right">Password&nbsp;:</label>
          <div class="col-sm-12 col-md-8">
            <input class="form-control" type="password" name="Password" id="Password" placeholder="Password" [(ngModel)]="userViewModel.Password" />
          </div>
        </div>

        <div class="form-group row mb-2">
          <label for="RoleCode" class=" col-sm-12 col-md-4 col-form-label text-right">Role&nbsp;:</label>
          <div class="col-sm-12 col-md-8">
            <ng-select [items]="roleViewModel" [clearable]="true" bindValue="RoleCode" bindLabel="RoleName" name="RoleCode" labelForId="RoleCode" [(ngModel)]="userViewModel.RoleCode" placeholder="Please Select"></ng-select>
          </div>
        </div>

        <div class="form-group row mb-3 mt-3">
          <div class="col-12 text-right">
            <button type="button" class="btn btn-mitsu" (click)="login()" aria-label="Login"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Login</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container" *ngIf="SHOW_FORM_ORGANIZE">
  <div class="login-block">
    <div style="max-width: 450px; margin: 0 auto;">
      <h4 class="login-header" style="margin-bottom: 0px">Select</h4>

      <div style="padding:15px 15px 0px; border: solid 1px #ccc;">
        <div class="form-group row mb-2">
          <label for="OrganizeId" class=" col-sm-12 col-md-4 col-form-label text-right">Organization&nbsp;:</label>
          <div class="col-sm-12 col-md-8">
            <ng-select [items]="organizeViewModel" [clearable]="true" bindValue="OrganizeId" bindLabel="OrganizeName" name="OrganizeId" labelForId="OrganizeId" [(ngModel)]="userViewModel.OrganizaId" placeholder="Please Select" (change)="onSelectedOrganize($event)"></ng-select>
          </div>
        </div>

        <div class="form-group row mb-3 mt-3">
          <div class="col-12 text-right">
            <button type="button" class="btn btn-mitsu" (click)="goToHome()"><i class="fa fa-check" aria-hidden="true" aria-label="Select"></i>&nbsp;Select</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
