<div class="mt-2" [ngStyle]="{ display: IS_LOADING ? 'block' : 'none' }" style="color: #005a58;">Loading...</div>
<div style="text-align: center; width: 255px; font-size: 14px; color: #005a58;" class="mt-2" [ngStyle]="{ display: !IS_LOADING ? 'block' : 'none' }">
  <span (click)="tree.treeControl.collapseAll()" style="cursor: pointer;">CollapseAll</span>
  &nbsp;<span>|</span>&nbsp;
  <span (click)="expandAll()" style="cursor: pointer;">ExpandAll</span>
</div>

<div class="mt-2 ml-1 mr-1" [ngStyle]="{ display: !IS_LOADING ? 'block' : 'none' }">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
    </div>
    <input type="text" class="form-control" placeholder="Search Menu" (input)="filterChanged($event.target.value)" aria-label="SearchMenu" />
  </div>
</div>

<mat-tree #tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree" [ngStyle]="{ display: !IS_LOADING ? 'block' : 'none' }">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding matTreeNodePaddingIndent="2" style="margin-left: 10px; margin-left: -40px">
    <div style="padding: 5px; cursor: pointer; color: #005a58;" (click)="onSelectedPage(node, true)"><i class="fa fa-minus mr-1" style="color: #005a58;" aria-hidden="true"></i>&nbsp;{{ node.ProgramCode }}&nbsp;:&nbsp;{{ node.Name }}</div>
  </mat-tree-node>
  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
    <li>
      <div class="mat-tree-node" [style.margin-left.px]="node.Name == 'IMEC' ? '0' : '-30'">
        <div matTreeNodeToggle [attr.aria-label]="'toggle ' + node.Name" class="ml-4 mt-3" [matTreeNodeToggleRecursive]="false" style="cursor: pointer;">
          <i [ngClass]="treeControl.isExpanded(node) == true ? 'fa fa-minus' : 'fa fa-plus'" aria-hidden="true" style="margin-right: 5px;"></i>
          <i [ngClass]="treeControl.isExpanded(node) == true ? 'fa fa-folder-open' : 'fa fa-folder'" aria-hidden="true"></i>
          {{ node.Name }}
        </div>
      </div>

      <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
        <ng-container matTreeNodeOutlet></ng-container>
      </ul>
    </li>
  </mat-nested-tree-node>
</mat-tree>
