.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  background-color: #f3f3f3;
}

.mat-tree-node {
  display: flex;
  align-items: center;
  min-height: 10px;
  flex: 1;
  word-wrap: break-word;
  overflow: visible;
  color: #005a58;
  margin-left: 10px;
  line-height: 1rem;
}

.fa-minus {
  font-size: 10px;
}
.fa-plus {
  font-size: 10px;
}
