@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";

// html,
// body {
//   font-family: "Roboto", sans-serif;
//   font-size: 14px;
//   color: #005a58;
//   line-height: 1rem;
//   margin: 0;
//   padding: 0;
// }

// html {
//   min-height: 100%;
//   position: relative;
// }

// .content {
//   min-height: 100%;
//   height: 100%;
//   width: 100%;
// }

html {
  font-size: 14px;
  color: #005a58;
}

body {
  font-family: "Roboto", sans-serif;
}

.btn-mitsu,
.btn-mitsu-red {
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 3px 10px;
  color: #fff;
}

.btn-mitsu {
  border: 2px solid #005a58;
  background: #005a58;
}

.btn-mitsu:active,
.btn-mitsu:hover {
  background: #005a58;
  border: 2px solid #005a58;
  color: #fff;
}

.btn-mitsu-red {
  border: 2px solid #f60012;
  background: #f60012;
}

.col-form-label {
  font-weight: bold;
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
}

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

ng-select.is-invalid.ng-touched .ng-select-container {
  border-color: #dc3545;
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  color: #000;
}

.ng-select .ng-arrow-wrapper .ng-arrow {
  border-color: #000 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px;
}

.ng-select.ng-select-opened > .ng-select-container .ng-arrow {
  top: -2px;
  border-color: transparent transparent #000;
  border-width: 0 5px 5px;
}

.ng-select.ng-select-disabled > .ng-select-container {
  background-color: #e9ecef;
}

.table thead th {
  color: #fff;
  background: #005a58;
}

table tbody td {
  cursor: pointer;
}

.modal-header {
  color: #fff;
  background: #005a58;
  padding: 12px;
}

.modal-content {
  border: none;
  border-radius: 8px;
}

.modal-header button span,
.modal-title {
  color: #fff;
}

.modal-footer {
  padding: 10px;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #005a58;
  border-color: #005a58;
}

.rows-active {
  background-color: #e9ecef !important;
  color: #005a58;
}

.increase_checkbox_size {
  width: 20px;
  height: 20px;
}

.increase_radio_size {
  width: 1.5em;
  height: 1.5em;
}

.my_custom_label {
  text-align: right !important;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .my_custom_label {
    text-align: left !important;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .my_custom_label {
    text-align: left !important;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .my_custom_label {
    text-align: right !important;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .my_custom_label {
    text-align: right !important;
  }
}

.card-header {
  color: #fff;
  background: #005a58;
  padding: 0;
}

.btn-link,
.btn-link:hover {
  color: #fff;
  font-weight: bold;
}

label {
  color: #005a58;
}

.form-control[readonly] {
  background-color: #ffffff;
  opacity: 1;
}

.mat-drawer-inner-container {
  white-space: nowrap;
}

.ngb-dp-navigation-chevron {
  color: #005a58;
}

a {
  color: #495057;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #005a58;
  font-weight: bold;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}
