.footer{
    // background: #c2185b;
    background-color: #dbdbdb;
    // color: #fff;
    text-align: center;
    // padding: 10px 0;

    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 2;
}

.footer p{
    margin: 1rem 0;
}